Source: chunkfs
Section: unknown
Priority: optional
Maintainer: Florian Zumbiehl <florz@florz.de>
Build-Depends: debhelper (>= 9), libfuse-dev (>= 2.5), perl:any
Standards-Version: 3.9.8

Package: chunkfs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fuse
Description: Mount arbitrary files via FUSE as a tree of chunk files.
 ChunkFS allows you to mount an arbitrary file or block device as a directory
 tree of read-only files that each represent a chunk of user-specified size
 of the mounted file.
 .
 A possible use for this is space-efficient incremental backups of
 encrypted filesystem images using rsync's --link-dest option.
 .
 The package also contains UnChunkFs, which allows you to mount a
 ChunkFS tree as an image file that mirrors the contents of whatever
 file or device the ChunkFS tree was created from.
